/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html{
  width: 100%;
}
body {
  line-height: 1;
  width: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//----------              My styling                                ----------//
$light-grey: #bdb1b1;
$light-grey-highlights: #807676;
$font-color: #e5e5e5;
$menu-color: rgba(201,201,201,.5);
$main-color: rgba(201,201,201,.9);
$tag-color: #bdb1b1;
$dark-blue: #0e0f29;
$background-blue: #535A6A;
$dark-grey: rgba(67,68,70,.5);
$font: #e5e5e5;

html{
  position: relative;
  height: 100%;
}

body{
  position: relative;
  color: $font-color;
  font-family: sans-serif;
  height: 100%;

  
  background: url(img/wood.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

h2{
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#left-panel{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 100%;
  bottom: 0px;
  min-width: 255px;
  
  #bar{
    position: absolute;
    width: 250px;
    height: 100%;
    background-color: rgba(67,68,70,1);
    box-shadow: 0px 0px 5px black;
    
    img{
      position: relative;
      margin-left: 5px;
      margin-top: 5px;
    }
  }
  
  .menu-item{
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1em;
    color: #e5e5e5;
    padding-bottom: 5px;
    text-shadow: 0px 2px 2px black;
    border-bottom: 1px solid $dark-blue;
   
    &:hover{
      text-shadow: 0px 2px 2px $dark-blue;
      background-color: rgba(255,255,255,.1);
    }
  }
  
  #name{
    margin-top: 50px;
    border: none;
  }
}

#right{
  position: relative;
  width: 75%;
  min-width: 815px;
  float: left;
  margin-left: 25%;
}

#header{
  position: relative;
  width: 100%;
  min-height: 50px;
  font-size: 2em;
  text-align: center;
  
  img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .padding{
    background-color: $menu-color;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

#content{
  position: relative;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  text-shadow: 0px 0px 2px black;
  
  .padding{
    position: relative;
    background-color: $dark-grey;
    margin-left: 5px;
    overflow: hidden;
    margin-right: 5%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
  }
  
  form.center-form{
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    line-height: 2em;
    text-align: right;
    
    input{
      background: none;
      border: 1px solid $font-color;
      border-radius: 3px;
      width: 75%;
      position: relative;
      float: right;
      color: $font-color;
      padding: 3px;
      font-weight: bold; 
      margin-left: 15px;
    }
    
    #submit{
      color: $font-color;
      text-align: center;
      position: relative;
      width: 100%;
      box-shadow: 0px 0px 5px black;
      
      &:hover{
        background-color: $menu-color;
      }
    }
  }
}

.padding{
  padding: 20px;
}

#login-box{
  position: absolute;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -300px;
  border: 1px solid $main-color;
  color: $main-color;
  background-color: rgba(44,44,44,.7);
  
  .padding{
    padding: 50px;
  }
  
  h1{
    font-size: 3em;
    font-weight: 100;
    text-align: center;
  }
  
  img{
    position: absolute;
    top: 20%;
    margin-left: -118px;
    left: 50%;
  }
  
  
  .login-button{
    width: 300px;
    background: none;
    border: 1px solid $main-color;
    position: absolute;
    color: $main-color;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    padding: 10px;
    text-align: center;
    
    &:hover{
      background-color: $menu-color;
    }
  }
  #email{
    top: 65%;
  }
  
  #sign-up{
    top: 75%;
  }
}

.item-container{
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.item{
  margin-right: 5%;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  width: 300px;
  float: left;
  min-height: 100px;
  
  .padding-item{
    min-height: 100px;
    border: 1px solid $font-color;
    padding: 20px;
    border-radius: 10px;
  }
  
  h1{
    font-size: 1em;
    font-weight: bold;
    line-height: 1.3em;
  }
  
  p{
    font-size: .8em;
    padding: 5px;
    border-radius: 3px;
    background-color: $menu-color;
  }
  
  p.description{
      font-style: italic;
      background-color: rgba(0,0,0,0);
  }
}


.match{
  position: relative;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}
.match-container{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;

  .padding{
    padding: 20px;
  }
  
  .arrow{
    position: absolute;
    left: 50%;
    top: 50%;
    //width: 100px;
    width: 20%;
    margin-left: -10%;
    height: 1px;
    border-bottom: 1px solid $font-color;
  }
}
  
  .your-item-container, .their-item-container{
    position: relative;
    min-height: 100px;
    width: 40%;
    background-color: none;
    border: 1px solid $font-color;
    border-radius: 10px;
    
    h1{
      margin: 10px;
      margin-left: 20px;
      font-size: 1.3em;
      text-align: left;
    }
    
    table{
      position: relative;
      margin: 10px;
      font-size: 0.8em;
      width: 90%;
      
      tr{
        td{
          padding: 5px;
          
          &:first-child{
            width: 30%;
          }
        }
        
        td.description{
          font-style: italic;
        }
        
        td.tags{
          color: $tag-color;
        }
      }
    }
    
    .padding{
      position: relative;
      // width: 100%;
      // height: 100%;
    }
    
    span.date, span.item, span.date{
      text-align: center;
    }
    
    span.date{
      position: relative;
      float: left;
      width: 25%;
    }
    
    span.item{
      position: relative;
      float: left;
      width: 50%;
    }
    
    span.date{
      position: relative;
      float: left;
      width: 25%;
    }
  }
  
  .your-item-container{
    float: left;
  }
  
  .their-item-container{
    float: right;
    
    form{
      #reject{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 25px;
        
        input#reject{
          position: absolute; 
          right: 0px;
          top: 0px;
        }
      }
      #accept{
        position: absolute;
        top: 35px;
        right: 10px;
        width: 50px;
        height: 25px;
        
        input#accept{
          position: absolute;
          right: 0px;
          top: 0px;
        }
      }
    }
  }
