/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000318}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000328}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000331}}
html {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000334}}
body {
  line-height: 1;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000338}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000341}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000345}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000349}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000366}}
html {
  position: relative;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000371}}
body {
  position: relative;
  color: #e5e5e5;
  font-family: sans-serif;
  height: 100%;
  background: url(img/wood.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000385}}
h1 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000391}}
h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000398}}
#left-panel {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 100%;
  bottom: 0px;
  min-width: 255px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003107}}
  #left-panel #bar {
    position: absolute;
    width: 250px;
    height: 100%;
    background-color: #434446;
    box-shadow: 0px 0px 5px black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003114}}
    #left-panel #bar img {
      position: relative;
      margin-left: 5px;
      margin-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003121}}
  #left-panel .menu-item {
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1em;
    color: #e5e5e5;
    padding-bottom: 5px;
    text-shadow: 0px 2px 2px black;
    border-bottom: 1px solid #0e0f29; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003134}}
    #left-panel .menu-item:hover {
      text-shadow: 0px 2px 2px #0e0f29;
      background-color: rgba(255, 255, 255, 0.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003140}}
  #left-panel #name {
    margin-top: 50px;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003146}}
#right {
  position: relative;
  width: 75%;
  min-width: 815px;
  float: left;
  margin-left: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003154}}
#header {
  position: relative;
  width: 100%;
  min-height: 50px;
  font-size: 2em;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003161}}
  #header img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003168}}
  #header .padding {
    background-color: rgba(201, 201, 201, 0.5);
    margin-left: 5px;
    margin-bottom: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003175}}
#content {
  position: relative;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  text-shadow: 0px 0px 2px black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003182}}
  #content .padding {
    position: relative;
    background-color: rgba(67, 68, 70, 0.5);
    margin-left: 5px;
    overflow: hidden;
    margin-right: 5%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003193}}
  #content form.center-form {
    position: relative;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    line-height: 2em;
    text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003204}}
    #content form.center-form input {
      background: none;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      width: 75%;
      position: relative;
      float: right;
      color: #e5e5e5;
      padding: 3px;
      font-weight: bold;
      margin-left: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003217}}
    #content form.center-form #submit {
      color: #e5e5e5;
      text-align: center;
      position: relative;
      width: 100%;
      box-shadow: 0px 0px 5px black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003224}}
      #content form.center-form #submit:hover {
        background-color: rgba(201, 201, 201, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003231}}
.padding {
  padding: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003235}}
#login-box {
  position: absolute;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -300px;
  border: 1px solid rgba(201, 201, 201, 0.9);
  color: rgba(201, 201, 201, 0.9);
  background-color: rgba(44, 44, 44, 0.7); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003247}}
  #login-box .padding {
    padding: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003251}}
  #login-box h1 {
    font-size: 3em;
    font-weight: 100;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003257}}
  #login-box img {
    position: absolute;
    top: 20%;
    margin-left: -118px;
    left: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003265}}
  #login-box .login-button {
    width: 300px;
    background: none;
    border: 1px solid rgba(201, 201, 201, 0.9);
    position: absolute;
    color: rgba(201, 201, 201, 0.9);
    left: 50%;
    margin-left: -160px;
    top: 50%;
    padding: 10px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003277}}
    #login-box .login-button:hover {
      background-color: rgba(201, 201, 201, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003281}}
  #login-box #email {
    top: 65%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003285}}
  #login-box #sign-up {
    top: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003290}}
.item-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003299}}
.item {
  margin-right: 5%;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  width: 300px;
  float: left;
  min-height: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003308}}
  .item .padding-item {
    min-height: 100px;
    border: 1px solid #e5e5e5;
    padding: 20px;
    border-radius: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003315}}
  .item h1 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003321}}
  .item p {
    font-size: .8em;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(201, 201, 201, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003328}}
  .item p.description {
    font-style: italic;
    background-color: rgba(0, 0, 0, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003335}}
.match {
  position: relative;
  float: left;
  margin-left: 15px;
  margin-top: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003341}}
.match-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003347}}
  .match-container .padding {
    padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003351}}
  .match-container .arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20%;
    margin-left: -10%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003363}}
.your-item-container, .their-item-container {
  position: relative;
  min-height: 100px;
  width: 40%;
  background-color: none;
  border: 1px solid #e5e5e5;
  border-radius: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003371}}
  .your-item-container h1, .their-item-container h1 {
    margin: 10px;
    margin-left: 20px;
    font-size: 1.3em;
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003378}}
  .your-item-container table, .their-item-container table {
    position: relative;
    margin: 10px;
    font-size: 0.8em;
    width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003385}}
    .your-item-container table tr td, .their-item-container table tr td {
      padding: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003388}}
      .your-item-container table tr td:first-child, .their-item-container table tr td:first-child {
        width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003393}}
    .your-item-container table tr td.description, .their-item-container table tr td.description {
      font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003397}}
    .your-item-container table tr td.tags, .their-item-container table tr td.tags {
      color: #bdb1b1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003403}}
  .your-item-container .padding, .their-item-container .padding {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003409}}
  .your-item-container span.date, .your-item-container span.item, .your-item-container span.date, .their-item-container span.date, .their-item-container span.item, .their-item-container span.date {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003413}}
  .your-item-container span.date, .their-item-container span.date {
    position: relative;
    float: left;
    width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003419}}
  .your-item-container span.item, .their-item-container span.item {
    position: relative;
    float: left;
    width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003425}}
  .your-item-container span.date, .their-item-container span.date {
    position: relative;
    float: left;
    width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003432}}
.your-item-container {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003436}}
.their-item-container {
  float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003440}}
  .their-item-container form #reject {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003447}}
    .their-item-container form #reject input#reject {
      position: absolute;
      right: 0px;
      top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003453}}
  .their-item-container form #accept {
    position: absolute;
    top: 35px;
    right: 10px;
    width: 50px;
    height: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003460}}
    .their-item-container form #accept input#accept {
      position: absolute;
      right: 0px;
      top: 0px; }
