/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000318}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000328}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000331}}
html {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000334}}
body {
  line-height: 1;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000338}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000341}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000345}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000349}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000362}}
html {
  position: relative;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000367}}
body {
  position: relative;
  color: #4b4648;
  font-family: sans-serif;
  height: 100%;
  background: url(img/rain.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000381}}
h1 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000387}}
h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\0000394}}
#left-panel {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 100%;
  bottom: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003102}}
  #left-panel .menu-item {
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1em;
    background-color: rgba(201, 201, 201, 0.5);
    color: white;
    margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003114}}
    #left-panel .menu-item:hover {
      background-color: rgba(201, 201, 201, 0.9); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003120}}
#right {
  position: relative;
  width: 75%;
  float: left;
  margin-left: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003127}}
#header {
  position: relative;
  width: 100%;
  min-height: 50px;
  font-size: 2em;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003134}}
  #header img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003141}}
  #header .padding {
    background-color: rgba(201, 201, 201, 0.5);
    margin-left: 5px;
    margin-bottom: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003148}}
#content {
  position: relative;
  width: 100%;
  min-height: 500px;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003154}}
  #content .padding {
    position: relative;
    background-color: rgba(201, 201, 201, 0.9);
    margin-left: 5px;
    overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003162}}
.padding {
  padding: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003166}}
#login-box {
  position: absolute;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -300px;
  border: 1px solid rgba(201, 201, 201, 0.9);
  color: rgba(201, 201, 201, 0.9);
  background-color: rgba(59, 64, 83, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003178}}
  #login-box .padding {
    padding: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003182}}
  #login-box h1 {
    font-size: 3em;
    font-weight: 100;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003188}}
  #login-box .login-button {
    width: 300px;
    background: none;
    border: 1px solid rgba(201, 201, 201, 0.9);
    position: absolute;
    color: rgba(201, 201, 201, 0.9);
    left: 50%;
    margin-left: -160px;
    top: 50%;
    padding: 10px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003200}}
    #login-box .login-button:hover {
      background-color: rgba(201, 201, 201, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003204}}
  #login-box #email {
    top: 65%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003208}}
  #login-box #sign-up {
    top: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003213}}
.item-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003220}}
.item {
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  width: 300px;
  float: left;
  min-height: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003229}}
  .item .padding {
    min-height: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003233}}
  .item h1 {
    font-size: 1em;
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003238}}
  .item p {
    font-size: .8em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003248}}
.match-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003254}}
  .match-container .padding {
    padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003258}}
  .match-container .arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20%;
    margin-left: -10%;
    height: 1px;
    border-bottom: 4px solid #4b4648; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003269}}
  .match-container .your-item-container, .match-container .their-item-container {
    position: relative;
    min-height: 100px;
    width: 40%;
    background-color: rgba(201, 201, 201, 0.9);
    border-radius: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003276}}
    .match-container .your-item-container h1, .match-container .their-item-container h1 {
      margin: 10px;
      margin-left: 20px;
      font-size: 1.3em;
      text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003283}}
    .match-container .your-item-container table, .match-container .their-item-container table {
      position: relative;
      margin: 10px;
      font-size: 0.8em;
      width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003290}}
      .match-container .your-item-container table tr td, .match-container .their-item-container table tr td {
        padding: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003293}}
        .match-container .your-item-container table tr td:first-child, .match-container .their-item-container table tr td:first-child {
          width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003298}}
      .match-container .your-item-container table tr td.description, .match-container .their-item-container table tr td.description {
        font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003302}}
      .match-container .your-item-container table tr td.tags, .match-container .their-item-container table tr td.tags {
        color: #252538; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003308}}
    .match-container .your-item-container .padding, .match-container .their-item-container .padding {
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003314}}
    .match-container .your-item-container span.date, .match-container .your-item-container span.item, .match-container .your-item-container span.date, .match-container .their-item-container span.date, .match-container .their-item-container span.item, .match-container .their-item-container span.date {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003318}}
    .match-container .your-item-container span.date, .match-container .their-item-container span.date {
      position: relative;
      float: left;
      width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003324}}
    .match-container .your-item-container span.item, .match-container .their-item-container span.item {
      position: relative;
      float: left;
      width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003330}}
    .match-container .your-item-container span.date, .match-container .their-item-container span.date {
      position: relative;
      float: left;
      width: 25%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003337}}
  .match-container .your-item-container {
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003341}}
  .match-container .their-item-container {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003345}}
    .match-container .their-item-container form #reject {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 50px;
      height: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003352}}
      .match-container .their-item-container form #reject input#reject {
        position: absolute;
        right: 0px;
        top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003358}}
    .match-container .their-item-container form #accept {
      position: absolute;
      top: 35px;
      right: 10px;
      width: 50px;
      height: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/lost\/style\.scss}line{font-family:\00003365}}
      .match-container .their-item-container form #accept input#accept {
        position: absolute;
        right: 0px;
        top: 0px; }
